h2
{
    font-size: 4rem;
    color: black;
    font-weight: 700;
    font-style: italic;
}

h4
{
    font-size: 4rem;
    color: black;
    font-weight: 700;
    font-style: oblique;
}

#buttons
{
    margin: 50px;
    width: 310px;
    background-color: white;
}

.buttonWho
{
    background-color: rgba(0, 0, 0, 0.375);
    width: 100px;
    height: 50px;
}

.buttonHobby
{
    background-color: rgba(0, 0, 0, 0.375);
    width: 100px;
    height: 50px;
}

.buttonSkill
{
    background-color: rgba(0, 0, 0, 0.375);
    width: 100px;
    height: 50px;
}

.buttonWho:hover
{
    background-color: rgba(0, 0, 0, 0.575);
}

.buttonHobby:hover
{
    background-color: rgba(0, 0, 0, 0.575);
}

.buttonSkill:hover
{
    background-color: rgba(0, 0, 0, 0.575);
}

.darkOrange
{
    color: rgb(165, 93, 4);
}

.orange
{
    color: orange;
}

.skybleu
{
    color: skyblue;
}

h3
{
    font-size: 2rem;
    font-weight: 700;
}

body
{
    background-color: rgba(198, 159, 74, 0.827);
}

#ABdc
{
    background-color: white;
    width: 1100px;
    height: 300px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

#ABdcLeft
{
    background-color: white;
    width: 250px;
    height: 300px;
    text-align: center;
}

#ABdcIn
{
    background-color: white;
    width: 750px;
    height: 250px;
}

#AB
{
    height: 300;
    background-color: white;
    text-align: center;
}

#hello
{
    height: 700px;
    margin:5rem;
    background-color: white;
}

#carteplus
{
    height: 600px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Hobby
{
    height: 600px;
    margin: 5rem;
    background-color: orange;
    text-align: center;
}

#casedup
{
    height: 100px;
    text-align: center;
}

#caseddown
{
    height: 500px;
    display: flex;
    justify-content: center;
}

#casedUpw
{
    background-color: orange;
    text-align: center;
    flex-flow: row;
}

#cased1
{
    display: flex;
    width: 373px;
    height: 100px;
    background-color: skyblue;
    flex-flow: column;
    text-align: center;
}

#cased2
{
    display: flex;
    width: 255px;
    height: 100px;
    background-color: white;
    flex-flow: column;
    text-align: center;
}

#cased3
{
    display: flex;
    width: 255px;
    height: 300px;
    background-color: green;
    flex-flow: column;
    text-align: center;
}

#cased4
{
    display: flex;
    width: 383px;
    height: 300px;
    background-color: maroon;
    flex-flow: column;
    text-align: center;
}

#Skills
{
    height: 700px;
    margin:5rem;
    background-color: white;
}

#ms
{
    background-color: white;
    text-align: center;
}

#msdown
{
    height: 500;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.buttonleft
{
    background-color: rgba(0, 0, 0, 0);
    width: 200px;
    height: 400px;
}

.buttonright
{
    background-color: rgba(0, 0, 0, 0);
    width: 200px;
    height: 400px;
}

.buttonleft:hover
{
    background-color: rgba(0, 0, 0, 0.375);
}

.buttonright:hover
{
    background-color: rgba(0, 0, 0, 0.375);
}

#icons
{
    background-color: rgba(0, 0, 0, 0);
    height: 500px;
    width: 400px;
    text-align: center;
}
